* {
    padding: 0;
    margin: 0;
    border: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;

    height: 100vh;
    width: 100%;

    background: url("./img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flashcards {
    margin-top: 180px;

    width: 670px;
    height: 725px;
    padding: 20px 20px 0 20px;

    background-color: rgba(0, 0, 0, .5);

    border-radius: 10px;
}

.title {
    margin-bottom: 15px;

    text-align: center;
    font-family: 'Montserrat', sans-serif;

    color: #fff;
}

.title h1 {
    font-size: 30px;
}

.flashcards_inner {
    display: flex;
    flex-wrap: wrap;

    perspective: 1000px;
}

.flashcards__item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    margin-bottom: 15px;

    width: 200px;
    height: 200px;

    cursor: pointer;

    background: rgba(255, 255, 255, .2);
    border-radius: 15px;

    font-family: 'Montserrat', sans-serif;

    position: relative;
    transition: all .5s linear;

    transform-style: preserve-3d;
}

.flashcards__item:nth-child(3), .flashcards__item:nth-child(6), .flashcards__item:nth-child(9) {
    margin-right: 0;
}

.question, .answer {
    color: #ffffff;
    position: absolute;
}

.question {
    z-index: 1;
}

.answer {
    color: transparent;
}

.flashcards__item:hover {
    transform: rotateY(180deg);
    background-color: #000;
}

.flashcards__item:hover .question {
    backface-visibility: hidden;
    color: transparent;
}

.flashcards__item:hover .answer {
    color: #ffffff;
    transform: rotateY(180deg);
}